_je0FbUcFkg.json
{
  "name": "Master Social Scraper (Google Sheets)",
  "nodes": [
    {
      "id": "nordsym-brand-header",
      "name": "NordSym Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "content": "## 🔷 NordSym AB\n**Verifierad Automation**\n\n📦 **Källa:** FlowVault.se\n🏷️ **Version:** 1.0\n📧 **Support:** support@nordsym.com\n\n💡 **Installation:**\n1. Importera i n8n\n2. Konfigurera credentials\n3. Testa med test-data\n4. Aktivera workflow\n\n🔗 **Mer hjälp:** nordsym.com",
        "height": 320,
        "width": 300,
        "color": 5
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        40
      ],
      "id": "8530df80-300b-487d-8b5f-82d2507ce5e2",
      "name": "When chat message received",
      "webhookId": "f87d70e5-6eed-4335-9ab6-0661150de37d"
    },
    {
      "parameters": {
        "inputText": "=Identify the category based on the input URL\n {{ $json.chatInput }}",
        "categories": {
          "categories": [
            {
              "category": "LinkedIn",
              "description": "for URLs containing `linkedin.com`"
            },
            {
              "category": "YouTube",
              "description": "for URLs containing `youtube.com` or `youtu.be`"
            },
            {
              "category": "Instagram",
              "description": "for URLs containing `instagram.com`"
            },
            {
              "category": "X",
              "description": "for URLs containing `x.com` or `twitter.com` "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        420,
        40
      ],
      "id": "1b0d5e0a-2bda-4f22-a514-08df5f2abd2e",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        220
      ],
      "id": "aa8f826c-7cdc-4f36-96c1-61f34589d234",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "LCQSyEofGMlre7us",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/h7sDV53CddomktSi5/run-sync-get-dataset-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer apify_api_TZIb2yKKetN4gclE8oTTpB4tfKNEc4250Rs6"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"downloadSubtitles\": false,\n  \"hasCC\": false,\n  \"hasLocation\": false,\n  \"hasSubtitles\": false,\n  \"is360\": false,\n  \"is3D\": false,\n  \"is4K\": false,\n  \"isBought\": false,\n  \"isHD\": false,\n  \"isHDR\": false,\n  \"isLive\": false,\n  \"isVR180\": false,\n  \"maxResultStreams\": 0,\n  \"maxResults\": 10,\n  \"maxResultsShorts\": 0,\n  \"preferAutoGeneratedSubtitles\": false,\n  \"saveSubsToKVS\": false,\n  \"sortVideosBy\": \"POPULAR\",\n  \"startUrls\": [\n    {\n      \"url\": \"{{ $json.chatInput }}\",\n      \"method\": \"GET\"\n    }\n  ]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        -60
      ],
      "id": "a2a7764c-7f5f-4eee-a857-8f3fd9a32f2b",
      "name": "YouTube Scraper"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/nfp1fpt5gUlBwPcor/run-sync-get-dataset-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer apify_api_TZIb2yKKetN4gclE8oTTpB4tfKNEc4250Rs6"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"maxItems\": 20,\n  \"sort\": \"Latest\",\n  \"startUrls\": [\n    \"{{ $json.chatInput }}\"\n  ]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        440
      ],
      "id": "5ebb9aad-b8cc-4d6b-91ef-021f0f4a23ef",
      "name": "X Scraper"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/LQQIXN9Othf8f7R5n/run-sync-get-dataset-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer apify_api_TZIb2yKKetN4gclE8oTTpB4tfKNEc4250Rs6"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "={{ 20 }}"
            },
            {
              "name": "username",
              "value": "={{ $json.chatInput }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        -320
      ],
      "id": "2eb5ecc6-47e2-4334-8fa7-525da6b9795f",
      "name": "LinkedIn Scraper"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/xMc5Ga1oCONPmWJIa/run-sync-get-dataset-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer apify_api_TZIb2yKKetN4gclE8oTTpB4tfKNEc4250Rs6"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"resultsLimit\": 30,\n    \"username\": [\n        \"{{ $json.chatInput }}\"\n    ]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        220
      ],
      "id": "01c23d5f-4993-4b2d-8791-245871e3293d",
      "name": "Instagram Reel Scraper"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1260,
        860
      ],
      "id": "24a17aac-8e04-4b8d-a392-8733185e8ce5",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "LCQSyEofGMlre7us",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a63e659-ce95-42b4-b147-82ce3e8c041c",
              "name": "Transcript",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1460,
        860
      ],
      "id": "37d505fb-cb81-4d86-8bad-cb7be5ab290c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        820,
        860
      ],
      "id": "a89f0c64-de10-4b59-bbdc-e7713b85647e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "url",
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1420,
        200
      ],
      "id": "868b218d-d60a-4b90-b419-2d206f6f53b1",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a63e659-ce95-42b4-b147-82ce3e8c041c",
              "name": "Transcript",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1580,
        1280
      ],
      "id": "54902779-ebdf-416f-83a6-7962f5bafbc1",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        760,
        1260
      ],
      "id": "1bc8c908-07c6-4349-a4b7-e75998158fb2",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "url",
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1420,
        -80
      ],
      "id": "819c250b-18e6-4cf8-890f-fcaba3446d4e",
      "name": "Merge1"
    },
    {
      "parameters": {
        "content": "## IG Reels Transcript\nThis flow is triggered on the appended records from the initial scrape. It then transcribes the IG reels, updates the Google Sheets Row, and then loops until all records have been updated",
        "height": 380,
        "width": 1780
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        140,
        740
      ],
      "typeVersion": 1,
      "id": "6b968610-8fc7-4824-8b37-858360992483",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## YT Long Transcript\nThis flow is triggered on the appended records from the initial scrape. It then transcribes the youtube long-form content, updates the Google Sheets row, and then loops until all records have been updated",
        "height": 380,
        "width": 1780
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        140,
        1160
      ],
      "typeVersion": 1,
      "id": "56772fdd-7b0e-425a-9399-cb878d310c25",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "url",
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1420,
        420
      ],
      "id": "4cfcecf7-ffae-4a8a-9fb2-3907b9d98b59",
      "name": "Merge2"
    },
    {
      "parameters": {
        "content": "## Social profile/channel scraper\nThis workflow is triggered by a chat input. The user submits the url of a profile or \nchannel of a respective social media, and the workflow takes it from there.",
        "height": 1140,
        "width": 1780,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        140,
        -460
      ],
      "typeVersion": 1,
      "id": "85070679-d8b7-4a67-8cb5-a04e96766b21",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "url",
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1420,
        -340
      ],
      "id": "d7cffebc-cc39-4966-86d7-014b1190b891",
      "name": "Merge3"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE",
          "mode": "list",
          "cachedResultName": "Master Social Scraper [TEMPLATE]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1130347352,
          "mode": "list",
          "cachedResultName": "IG Reels Scrape",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE/edit#gid=1130347352"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json.url }}",
            "videoUrl": "={{ $json.videoUrl }}",
            "videoViewCount": "={{ $json.videoViewCount }}",
            "timestamp": "={{ $json.timestamp }}",
            "hashtags/0": "={{ $json.hashtags[0] }}",
            "hashtags/1": "={{ $json.hashtags[1] }}",
            "hashtags/2": "={{ $json.hashtags[2] }}",
            "hashtags/3": "={{ $json.hashtags[3] }}",
            "hashtags/4": "={{ $json.hashtags[4] }}",
            "hashtags/5": "={{ $json.hashtags[5] }}",
            "hashtags/6": "={{ $json.hashtags[6] }}",
            "hashtags/7": "={{ $json.hashtags[7] }}",
            "hashtags/8": "={{ $json.hashtags[8] }}",
            "hashtags/9": "={{ $json.hashtags[9] }}",
            "hashtags/10": "={{ $json.hashtags[10] }}",
            "hashtags/11": "={{ $json.hashtags[11] }}",
            "hashtags/12": "={{ $json.hashtags[12] }}",
            "hashtags/13": "={{ $json.hashtags[13] }}",
            "hashtags/14": "={{ $json.hashtags[14] }}",
            "hashtags/15": "={{ $json.hashtags[15] }}",
            "videoDuration": "={{ $json.videoDuration }}",
            "commentsCount": "={{ $json.commentsCount }}",
            "likesCount": "={{ $json.likesCount }}",
            "caption": "={{ $json.caption }}",
            "ownerUsername": "={{ $json.ownerUsername }}",
            "Created": "={{  $now }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Used",
              "displayName": "Used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ownerUsername",
              "displayName": "ownerUsername",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "videoUrl",
              "displayName": "videoUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Transcript",
              "displayName": "Transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "likesCount",
              "displayName": "likesCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hashtags/0",
              "displayName": "hashtags/0",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hashtags/1",
              "displayName": "hashtags/1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hashtags/2",
              "displayName": "hashtags/2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hashtags/3",
              "displayName": "hashtags/3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hashtags/4",
              "displayName": "hashtags/4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hashtags/5",
              "displayName": "hashtags/5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hashtags/6",
              "displayName": "hashtags/6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hashtags/7",
              "displayName": "hashtags/7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hashtags/8",
              "displayName": "hashtags/8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hashtags/9",
              "displayName": "hashtags/9",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hashtags/10",
              "displayName": "hashtags/10",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hashtags/11",
              "displayName": "hashtags/11",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hashtags/12",
              "displayName": "hashtags/12",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hashtags/13",
              "displayName": "hashtags/13",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hashtags/14",
              "displayName": "hashtags/14",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hashtags/15",
              "displayName": "hashtags/15",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "videoViewCount",
              "displayName": "videoViewCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "videoDuration",
              "displayName": "videoDuration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "commentsCount",
              "displayName": "commentsCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1640,
        200
      ],
      "id": "165d92d5-5755-4cfb-bde1-30fe8bb53412",
      "name": "Add Records to IG Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nuIKS89ZnY7gxINP",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE",
          "mode": "list",
          "cachedResultName": "Master Social Scraper [TEMPLATE]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1353984783,
          "mode": "list",
          "cachedResultName": "YouTube (Long) Scrape",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE/edit#gid=1353984783"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json.url }}",
            "date": "={{ $json.date }}",
            "channelName": "={{ $json.channelName }}",
            "channelUrl": "={{ $json.channelUrl }}",
            "numberOfSubscribers": "={{ $json.numberOfSubscribers }}",
            "likes": "={{ $json.likes }}",
            "viewCount": "={{ $json.viewCount }}",
            "title": "={{ $json.title }}",
            "thumbnailUrl": "={{ $json.thumbnailUrl }}",
            "id": "={{ $json.id }}",
            "Caption": "={{ $json.text }}",
            "duration": "={{ $json.duration }}",
            "videoUrl": "={{ $json.videoUrl }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Used",
              "displayName": "Used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "channelName",
              "displayName": "channelName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "channelUrl",
              "displayName": "channelUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "numberOfSubscribers",
              "displayName": "numberOfSubscribers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "viewCount",
              "displayName": "viewCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "thumbnailUrl",
              "displayName": "thumbnailUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "videoUrl",
              "displayName": "videoUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "likes",
              "displayName": "likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "duration",
              "displayName": "duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Transcript",
              "displayName": "Transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1640,
        -80
      ],
      "id": "1a9835c2-00d9-4243-8dc1-11317c18ada3",
      "name": "Add Records to YT Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nuIKS89ZnY7gxINP",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE",
          "mode": "list",
          "cachedResultName": "Master Social Scraper [TEMPLATE]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1707751987,
          "mode": "list",
          "cachedResultName": "LinkedIn Scrape",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE/edit#gid=1707751987"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "posted_at/date",
              "displayName": "posted_at/date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "author/username",
              "displayName": "author/username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "author/profile_url",
              "displayName": "author/profile_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stats/like",
              "displayName": "stats/like",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stats/comments",
              "displayName": "stats/comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stats/love",
              "displayName": "stats/love",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stats/reposts",
              "displayName": "stats/reposts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stats/total_reactions",
              "displayName": "stats/total_reactions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "media/thumbnail",
              "displayName": "media/thumbnail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "media/type",
              "displayName": "media/type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "media/url",
              "displayName": "media/url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stats/celebrate",
              "displayName": "stats/celebrate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stats/insight",
              "displayName": "stats/insight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stats/support",
              "displayName": "stats/support",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "urn",
              "displayName": "urn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1640,
        -340
      ],
      "id": "4027b446-5b4f-42b8-91ef-01fddfdcded8",
      "name": "Add Records to LI Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nuIKS89ZnY7gxINP",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE",
          "mode": "list",
          "cachedResultName": "Master Social Scraper [TEMPLATE]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1707751987,
          "mode": "list",
          "cachedResultName": "LinkedIn Scrape",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE/edit#gid=1707751987"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "url",
              "lookupValue": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1160,
        -400
      ],
      "id": "e3878445-e988-4ae6-a8da-9190e609ecfe",
      "name": "Find LI Rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nuIKS89ZnY7gxINP",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE",
          "mode": "list",
          "cachedResultName": "Master Social Scraper [TEMPLATE]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1353984783,
          "mode": "list",
          "cachedResultName": "YouTube (Long) Scrape",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE/edit#gid=1353984783"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "url",
              "lookupValue": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1160,
        -140
      ],
      "id": "fc0c347e-5b00-4e65-a9e7-baf15eda565d",
      "name": "Find YT Rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nuIKS89ZnY7gxINP",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE",
          "mode": "list",
          "cachedResultName": "Master Social Scraper [TEMPLATE]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1130347352,
          "mode": "list",
          "cachedResultName": "IG Reels Scrape",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE/edit#gid=1130347352"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "url",
              "lookupValue": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1160,
        140
      ],
      "id": "832e4a05-7dc6-41ec-8737-1f8d128d438b",
      "name": "Find IG Rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nuIKS89ZnY7gxINP",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE",
          "mode": "list",
          "cachedResultName": "Master Social Scraper [TEMPLATE]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 969315551,
          "mode": "list",
          "cachedResultName": "X Scrape",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE/edit#gid=969315551"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "url",
              "lookupValue": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1160,
        360
      ],
      "id": "b9cca553-9824-4dd8-8255-24439eaadf86",
      "name": "Find X Rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nuIKS89ZnY7gxINP",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE",
          "mode": "list",
          "cachedResultName": "Master Social Scraper [TEMPLATE]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 969315551,
          "mode": "list",
          "cachedResultName": "X Scrape",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE/edit#gid=969315551"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "author/twitterUrl": "={{ $json.author.twitterUrl }}",
            "author/createdAt": "={{ $json.author.userName }}",
            "url": "={{ $json.url }}",
            "author/followers": "={{ $json.author.followers }}",
            "viewCount": "={{ $json.viewCount }}",
            "likeCount": "={{ $json.likeCount }}",
            "text": "={{ $json.text }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "author/createdAt",
              "displayName": "author/createdAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "author/twitterUrl",
              "displayName": "author/twitterUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "author/followers",
              "displayName": "author/followers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "viewCount",
              "displayName": "viewCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "likeCount",
              "displayName": "likeCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Suggestions",
              "displayName": "Suggestions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Used",
              "displayName": "Used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1640,
        420
      ],
      "id": "e865179d-3a61-49a2-95c3-fc71caa4a79a",
      "name": "Add Records to X Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nuIKS89ZnY7gxINP",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE",
          "mode": "list",
          "cachedResultName": "Master Social Scraper [TEMPLATE]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1130347352,
          "mode": "list",
          "cachedResultName": "IG Reels Scrape",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE/edit#gid=1130347352"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        280,
        860
      ],
      "id": "322b08dc-cff9-4e39-9d00-1d141fdcc3b9",
      "name": "Trigger: Row Added (IG Sheet)",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "cTrSVDg9vWTv2WkL",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE",
          "mode": "list",
          "cachedResultName": "Master Social Scraper [TEMPLATE]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1353984783,
          "mode": "list",
          "cachedResultName": "YouTube (Long) Scrape",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE/edit#gid=1353984783"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        300,
        1280
      ],
      "id": "7ad02d13-02bc-4cfd-ba0b-cbe7d7d964be",
      "name": "Trigger: Row Added (YT Sheet)",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "cTrSVDg9vWTv2WkL",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ab0c260c-d03f-43a7-9302-8263012ddd6a",
              "leftValue": "={{ $json.Transcript }}",
              "rightValue": "{Transcript} = BLANK()",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        520,
        860
      ],
      "id": "7fd9ce11-d691-4802-98a3-2bb8b7186c5c",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3bfcaae3-72e7-4ad3-bfd6-94437debaa42",
              "leftValue": "={{ $json.Transcript }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        1280
      ],
      "id": "40daf673-fd92-45ea-b6aa-11961c2de1e4",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        860
      ],
      "id": "f5181ab3-aa1c-4c2b-9014-5faff18ed4aa",
      "name": "Download IG Reel",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE",
          "mode": "list",
          "cachedResultName": "Master Social Scraper [TEMPLATE]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1130347352,
          "mode": "list",
          "cachedResultName": "IG Reels Scrape",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE/edit#gid=1130347352"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Transcript": "={{ $json.Transcript }}",
            "url": "={{ $('Download IG Reel').item.json.url }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Created",
              "displayName": "Created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Used",
              "displayName": "Used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ownerUsername",
              "displayName": "ownerUsername",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "videoUrl",
              "displayName": "videoUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Transcript",
              "displayName": "Transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "caption",
              "displayName": "caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "likesCount",
              "displayName": "likesCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hashtags/0",
              "displayName": "hashtags/0",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hashtags/1",
              "displayName": "hashtags/1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hashtags/2",
              "displayName": "hashtags/2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hashtags/3",
              "displayName": "hashtags/3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hashtags/4",
              "displayName": "hashtags/4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hashtags/5",
              "displayName": "hashtags/5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hashtags/6",
              "displayName": "hashtags/6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hashtags/7",
              "displayName": "hashtags/7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hashtags/8",
              "displayName": "hashtags/8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hashtags/9",
              "displayName": "hashtags/9",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hashtags/10",
              "displayName": "hashtags/10",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hashtags/11",
              "displayName": "hashtags/11",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hashtags/12",
              "displayName": "hashtags/12",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hashtags/13",
              "displayName": "hashtags/13",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hashtags/14",
              "displayName": "hashtags/14",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hashtags/15",
              "displayName": "hashtags/15",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "videoViewCount",
              "displayName": "videoViewCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "videoDuration",
              "displayName": "videoDuration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "commentsCount",
              "displayName": "commentsCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1680,
        860
      ],
      "id": "04dc6437-00e6-4c62-98ab-0461bfa66bea",
      "name": "Update IG Sheet Transcript",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nuIKS89ZnY7gxINP",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE",
          "mode": "list",
          "cachedResultName": "Master Social Scraper [TEMPLATE]",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1353984783,
          "mode": "list",
          "cachedResultName": "YouTube (Long) Scrape",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1D14BnuorvWUoMvkaeMp8f8PADAdGKBFb1U6yFC5vwkE/edit#gid=1353984783"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $('Trigger: Row Added (YT Sheet)').item.json.url }}",
            "Transcript": "={{ $json.Transcript }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Used",
              "displayName": "Used",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "channelName",
              "displayName": "channelName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "channelUrl",
              "displayName": "channelUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "numberOfSubscribers",
              "displayName": "numberOfSubscribers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "viewCount",
              "displayName": "viewCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "thumbnailUrl",
              "displayName": "thumbnailUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "videoUrl",
              "displayName": "videoUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "likes",
              "displayName": "likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "duration",
              "displayName": "duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Transcript",
              "displayName": "Transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1740,
        1280
      ],
      "id": "f1d2b6f6-6788-4744-9572-8b61ec42a984",
      "name": "Update YT Sheet Transcript",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nuIKS89ZnY7gxINP",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/1s7eXiaukVuOr4Ueg/run-sync-get-dataset-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer apify_api_TZIb2yKKetN4gclE8oTTpB4tfKNEc4250Rs6"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channelHandleBoolean\": true,\n  \"channelIDBoolean\": false,\n  \"channelNameBoolean\": true,\n  \"commentsBoolean\": false,\n  \"datePublishedBoolean\": true,\n  \"dateTextBoolean\": false,\n  \"descriptionBoolean\": false,\n  \"keywordsBoolean\": false,\n  \"likesBoolean\": false,\n  \"maxRetries\": 8,\n  \"proxyOptions\": {\n    \"useApifyProxy\": true,\n    \"apifyProxyGroups\": [\n      \"BUYPROXIES94952\"\n    ]\n  },\n  \"relativeDateTextBoolean\": true,\n  \"subscriberCountBoolean\": false,\n  \"thumbnailBoolean\": false,\n  \"uploadDateBoolean\": false,\n  \"urls\": [\n    \"{{ $json.url }}\"\n  ],\n  \"viewCountBoolean\": false\n} ",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        1280
      ],
      "id": "8061024c-0a5d-4998-8f73-24adab0432d7",
      "name": "Generate Transcript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=Please combine all captions end to end to create a single text block. \n\n {{ $json.captions }}"
            },
            {
              "content": "you are a helpful assistant. Your role is to create a text block combining all captions. ",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1220,
        1280
      ],
      "id": "bb8ffa13-532e-4591-af5b-f516c15ea430",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "LCQSyEofGMlre7us",
          "name": "OpenAi account 3"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "LinkedIn Scraper",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "YouTube Scraper",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Instagram Reel Scraper",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "X Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update IG Sheet Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download IG Reel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Reel Scraper": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Find IG Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Add Records to IG Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Update YT Sheet Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Generate Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Add Records to YT Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Scraper": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Find YT Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "X Scraper": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          },
          {
            "node": "Find X Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Add Records to X Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Scraper": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          },
          {
            "node": "Find LI Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Add Records to LI Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find LI Rows": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find YT Rows": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find IG Rows": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find X Rows": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger: Row Added (IG Sheet)": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger: Row Added (YT Sheet)": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download IG Reel": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update IG Sheet Transcript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update YT Sheet Transcript": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Transcript": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Records to LI Sheet": {
      "main": [
        []
      ]
    },
    "Add Records to X Sheet": {
      "main": [
        []
      ]
    },
    "Add Records to IG Sheet": {
      "main": [
        []
      ]
    },
    "Add Records to YT Sheet": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "143742f3-c120-41f5-9f1e-27c2be0697ee",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9da288905fbe9354dea4b543fd7e960ac33b487ac1b02440ad591d7c90022103",
    "templateCreator": "NordSym AB",
    "templateVersion": "1.0",
    "verified": true,
    "source": "FlowVault.se",
    "contact": "support@nordsym.com",
    "driveFileId": "14m6BvV1jlPb5_Esv_CRCfM9K3bDmCc3M",
    "brandedAt": "2026-01-01T22:38:13.963Z"
  },
  "id": "g9xhh6xRee2BauCH",
  "tags": []
}