enescingoz_awesome_n8n_templates_linux_update_via_webhook.json
{
  "name": "Update Server",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -16
      ],
      "id": "ab983738-8b2e-4388-b9e2-8849a307cd18",
      "name": "Webhook",
      "webhookId": "06dec1b4-a026-43f6-8af9-aa71edc18c9d",
      "credentials": {}
    },
    {
      "parameters": {
        "command": "sudo apt update && sudo apt upgrade -y"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        224,
        -16
      ],
      "id": "d75fdbb3-3768-463d-8c24-08e183962ef3",
      "name": "Execute a command",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {}
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.stdout }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        448,
        -16
      ],
      "id": "b6b13f8b-28fe-487f-b65d-8351f1c91648",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## FlowVault by NordSym\n\nProduction-ready n8n workflow, curated by NordSym AB. Built in Stockholm.\n\n### Before you activate\n1. Review every node - we stripped credentials, you add your own\n2. Replace webhook URLs, API keys, and placeholders\n3. Test on non-production data first\n4. Pin the nodes you edit so upstream updates don't overwrite them\n\n### Resources\n- Full library: flowvault.se\n- Support: gustav@nordsym.com\n- Tag: #nordsym #flowvault\n",
        "height": 340,
        "width": 420,
        "color": 4
      },
      "id": "nordsym-sticky-note",
      "name": "NordSym FlowVault",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        -260
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0a11f125-d32f-47ec-98c1-ed50aaa8161b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "737b7f3d77a2af21123eccde4b438403bcc76147b5fa7ff5e27fd2189efa0a80"
  },
  "id": "XGBwtopjOPIN0oNt",
  "tags": [
    {
      "name": "nordsym"
    },
    {
      "name": "flowvault"
    }
  ]
}