gyoridavid_ai_agents_az_n8n_modal_qwen.json
{
  "name": "Modal: flux qwen subworkflow",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "prompt"
            },
            {
              "name": "width",
              "type": "number"
            },
            {
              "name": "height",
              "type": "number"
            },
            {
              "name": "steps",
              "type": "number"
            },
            {
              "name": "true_cfg_scale",
              "type": "number"
            },
            {
              "name": "negative_prompt"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1056,
        0
      ],
      "id": "83a7b193-4906-4cd8-a7e0-56934eaee9fc",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "errorMessage": "The size of the image (width x height) is larger than 1 megapixel"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        0,
        -288
      ],
      "id": "99a717f0-1d19-42b6-aed7-14041055fb83",
      "name": "Image > 1 megapixel"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6e30a82-76cd-4bfd-9bc5-b7fffb15e35c",
              "leftValue": "={{ $json.width * $json.height > 1048576 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        -16
      ],
      "id": "35bdd391-b905-4d87-be0d-8d0c258b01d0",
      "name": "Check image size"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f7d5020-0710-4f3c-858f-0485a2bd2963",
              "name": "width",
              "value": "={{ $('When Executed by Another Workflow').item.json.width || 1024 }}",
              "type": "number"
            },
            {
              "id": "39b906fa-3e0b-45b9-9c1b-95cbc51e195d",
              "name": "prompt",
              "value": "={{ $('When Executed by Another Workflow').item.json.prompt }}",
              "type": "string"
            },
            {
              "id": "3f8593d2-cfb3-437a-a9fc-4430995cb78f",
              "name": "height",
              "value": "={{ $('When Executed by Another Workflow').item.json.height || 1024 }}",
              "type": "number"
            },
            {
              "id": "065181ef-404a-4860-9019-976e6e8391e0",
              "name": "seed",
              "value": "={{ Math.floor(Math.random() * 100000000) }}",
              "type": "number"
            },
            {
              "id": "95df4de2-196a-4f64-a2ed-3959ede14154",
              "name": "url",
              "value": "={{   ((u) => {   let s = u.trim();   if (!/^https?:\\/\\//i.test(s)) s = 'https://' + s;   const parts = s.split('/');   return parts[0] + '//' + parts[2]; })($json.MODAL_URL)  }}/generate",
              "type": "string"
            },
            {
              "id": "aa3da4e4-9c9e-4cf4-b8bf-f7f08717ec02",
              "name": "true_cfg_scale",
              "value": "={{ $('When Executed by Another Workflow').item.json.true_cfg_scale || 1 }}",
              "type": "string"
            },
            {
              "id": "eb6faa0a-c27d-4c8a-946d-eded3387c803",
              "name": "negative_prompt",
              "value": "={{ $('When Executed by Another Workflow').item.json.negative_prompt || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        0
      ],
      "id": "b2378616-69a8-4775-b806-9c23369303b1",
      "name": "Setup workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Setup workflow').item.json.url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $('Setup workflow').item.json.prompt }}"
            },
            {
              "name": "width",
              "value": "={{ $('Setup workflow').item.json.width }}"
            },
            {
              "name": "height",
              "value": "={{ $('Setup workflow').item.json.height }}"
            },
            {
              "name": "seed",
              "value": "={{ $('Setup workflow').item.json.seed }}"
            },
            {
              "name": "negative_prompt",
              "value": "={{ $('Setup workflow').item.json.negative_prompt }}"
            },
            {
              "name": "true_cfg_scale",
              "value": "={{ $('Setup workflow').item.json.true_cfg_scale }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        0
      ],
      "id": "0e2e959b-fcde-4f11-b429-f4c09de03a8b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2df0bb38-9912-4978-ad56-3236c5d54126",
              "name": "MODAL_URL",
              "value": "<<insert your modal server url here>>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        0
      ],
      "id": "5f6d968a-6f40-4c57-867a-dc52f8fb0407",
      "name": "Configure me"
    },
    {
      "parameters": {
        "content": "## FlowVault by NordSym\n\nProduction-ready n8n workflow, curated by NordSym AB. Built in Stockholm.\n\n### Before you activate\n1. Review every node - we stripped credentials, you add your own\n2. Replace webhook URLs, API keys, and placeholders\n3. Test on non-production data first\n4. Pin the nodes you edit so upstream updates don't overwrite them\n\n### Resources\n- Full library: flowvault.se\n- Support: gustav@nordsym.com\n- Tag: #nordsym #flowvault\n",
        "height": 340,
        "width": 420,
        "color": 4
      },
      "id": "nordsym-sticky-note",
      "name": "NordSym FlowVault",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        -260
      ]
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "prompt": "A cat at the beach",
          "width": 1024,
          "height": 768
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Configure me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check image size": {
      "main": [
        [
          {
            "node": "Image > 1 megapixel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup workflow": {
      "main": [
        [
          {
            "node": "Check image size",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Configure me": {
      "main": [
        [
          {
            "node": "Setup workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a99d7e4b-b50e-4380-a911-5b18808f4b28",
  "meta": {
    "instanceId": "636db6b6ab21a21c6458e2137f340e33dc3e49f5a1c560c8d1e2372c227cf40e"
  },
  "id": "xKTb9cV6MWLzJAo0",
  "tags": [
    {
      "name": "nordsym"
    },
    {
      "name": "flowvault"
    }
  ]
}