JUx2ZfNfD64_3.json
{
  "name": "🤖Personal Assistant",
  "nodes": [
    {
      "id": "nordsym-brand-header",
      "name": "NordSym Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "content": "## 🔷 NordSym AB\n**Verifierad Automation**\n\n📦 **Källa:** FlowVault.se\n🏷️ **Version:** 1.0\n📧 **Support:** support@nordsym.com\n\n💡 **Installation:**\n1. Importera i n8n\n2. Konfigurera credentials\n3. Testa med test-data\n4. Aktivera workflow\n\n🔗 **Mer hjälp:** nordsym.com",
        "height": 320,
        "width": 300,
        "color": 5
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "56d3b60c-c6da-4127-8a60-228fadd1b2bb",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        860,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "bEw2RFKI3MP4M94t",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "name": "Contacts_Data",
        "description": "Call this to retrieve information about contacts like email address."
      },
      "id": "93d8037b-315b-486a-8bca-5448f376cc04",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        960,
        500
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "c406f632-70f1-43a1-9b23-a89a0d55ba01",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1120,
        640
      ],
      "credentials": {
        "openAiApi": {
          "id": "bEw2RFKI3MP4M94t",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "f15a702e-d268-4c59-b74c-d9a73b91de66",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1000,
        740
      ],
      "credentials": {
        "openAiApi": {
          "id": "bEw2RFKI3MP4M94t",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "sample",
          "mode": "list",
          "cachedResultName": "sample"
        },
        "options": {
          "pineconeNamespace": "Contacts"
        }
      },
      "id": "026fdccd-47e7-4125-824d-566f18e38c44",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        860,
        640
      ],
      "credentials": {
        "pineconeApi": {
          "id": "AdcDNbDtciPwZiZC",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "name": "get_emails",
        "description": "Call this tool when asked to retrieve or get emails.",
        "workflowId": {
          "__rl": true,
          "value": "90jRfZTdDWxvbkws",
          "mode": "list",
          "cachedResultName": "Nate Testing — ⚙️GetEmails"
        }
      },
      "id": "7156039c-342b-4a86-bde3-47e18fc5f238",
      "name": "⚙️Get Emails",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1260,
        500
      ]
    },
    {
      "parameters": {
        "name": "send_email",
        "description": "Call this tool to send an email.",
        "workflowId": {
          "__rl": true,
          "value": "UMBzPLICUxFY2x6l",
          "mode": "list",
          "cachedResultName": "Nate Testing — ⚙️SendEmail"
        },
        "specifyInputSchema": true,
        "schemaType": "manual",
        "inputSchema": "[\n  {\n    \"query\": \"sendTo=&subject=&emailType=text&message=&appendAttribution=false&bccList=&ccList=&senderName=\"\n  }\n]"
      },
      "id": "5425eeb7-55f7-47f0-b9e4-1165037d09d7",
      "name": "⚙️Send Email",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1380,
        500
      ]
    },
    {
      "parameters": {
        "name": "get_calendar",
        "description": "Call this tool to view calendar events and information.",
        "workflowId": {
          "__rl": true,
          "value": "A2k0Um6Add16DqRz",
          "mode": "list",
          "cachedResultName": "Nate Testing — ⚙️Get Calendar"
        }
      },
      "id": "a53a0948-86f2-4a86-9c82-ce78346105b6",
      "name": "⚙️Get Calendar",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1500,
        500
      ]
    },
    {
      "parameters": {
        "name": "set_event",
        "description": "Call this tool to set a calendar event, AKA make an appointment.",
        "workflowId": {
          "__rl": true,
          "value": "vqt4dudohtbPZ3Wo",
          "mode": "list",
          "cachedResultName": "Nate Testing — ⚙️Set Calendar"
        }
      },
      "id": "75789cf9-08de-4854-8ef0-52bf2c0e692f",
      "name": "⚙️Set Calendar Event",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1520,
        640
      ]
    },
    {
      "parameters": {
        "name": "update_database",
        "description": "Call this tool to update the database. This will look like changing notes and statuses of a project.",
        "workflowId": {
          "__rl": true,
          "value": "Yk0RHxepd0CbI67y",
          "mode": "list",
          "cachedResultName": "Nate Testing — ⚙️Update Database"
        }
      },
      "id": "c36d35b2-d08f-4430-8b82-41b3a8e7c8d2",
      "name": "⚙️Update Database",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1260,
        640
      ]
    },
    {
      "parameters": {
        "name": "Summarize_Database",
        "description": "Call this tool when asked to summarize the database.",
        "workflowId": {
          "__rl": true,
          "value": "4BfamBqximmZ86qM",
          "mode": "list",
          "cachedResultName": "Nate Testing — ⚙️Summarize Database"
        }
      },
      "id": "595c7aea-61a0-44d5-b3b8-1717860cafe0",
      "name": "⚙️Summarize Database",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        1380,
        640
      ]
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "aba14906-0fb8-40ac-bbbb-a254f3c15b3a",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        940,
        300
      ],
      "webhookId": "f48d9294-5402-455c-880e-62ca81564aa5",
      "credentials": {
        "telegramApi": {
          "id": "JsYM6FHO8j4diMhE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "92066b9c-82b0-4d6c-95ae-7a05170dcf37",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1400,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "JsYM6FHO8j4diMhE",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a personal assistant. Today's date is {{ $now }}\nYou have access to multiple tools and you must decide which tool to use based on what you are asked. Use the pinecone vector store to retrieve personal information like contact information like email address.\n",
          "returnIntermediateSteps": true
        }
      },
      "id": "047f5b26-372a-4218-b267-ac26726671ac",
      "name": "AI Personal Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        1080,
        300
      ]
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Personal Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "⚙️Get Emails": {
      "ai_tool": [
        [
          {
            "node": "AI Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "⚙️Send Email": {
      "ai_tool": [
        [
          {
            "node": "AI Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "⚙️Get Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "⚙️Set Calendar Event": {
      "ai_tool": [
        [
          {
            "node": "AI Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "⚙️Update Database": {
      "ai_tool": [
        [
          {
            "node": "AI Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "⚙️Summarize Database": {
      "ai_tool": [
        [
          {
            "node": "AI Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Personal Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Personal Assistant": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6a5c70ba-d4ec-4649-b46f-e60faf5aa21c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "95e5a8c2e51c83e33b232ea792bbe3f063c094c33d9806a5565cb31759e1ad39",
    "templateCreator": "NordSym AB",
    "templateVersion": "1.0",
    "verified": true,
    "source": "FlowVault.se",
    "contact": "support@nordsym.com",
    "driveFileId": "1tyz8fyezQQ3RvSmX4jdoLiaeH2fwYWRM",
    "brandedAt": "2026-01-01T22:41:15.523Z"
  },
  "id": "H4NvDLrXuAzHyDXK",
  "tags": []
}