JUx2ZfNfD64_4.json
{
  "name": "⚙️SendEmail",
  "nodes": [
    {
      "id": "nordsym-brand-header",
      "name": "NordSym Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "parameters": {
        "content": "## 🔷 NordSym AB\n**Verifierad Automation**\n\n📦 **Källa:** FlowVault.se\n🏷️ **Version:** 1.0\n📧 **Support:** support@nordsym.com\n\n💡 **Installation:**\n1. Importera i n8n\n2. Konfigurera credentials\n3. Testa med test-data\n4. Aktivera workflow\n\n🔗 **Mer hjälp:** nordsym.com",
        "height": 320,
        "width": 300,
        "color": 5
      }
    },
    {
      "parameters": {},
      "id": "122a1d1e-68d4-4a35-8984-08a8e4b22e62",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        620,
        320
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.message.content.sendTo }}",
        "subject": "={{ $json.message.content.subject }}",
        "emailType": "text",
        "message": "={{ $json.message.content.message }}",
        "options": {
          "appendAttribution": false,
          "senderName": "Nate"
        }
      },
      "id": "0a3354e6-fe59-4eb6-83e2-4331e0dd0c55",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1160,
        320
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "tTM3T5akyzZzFT2R",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "99d77b1d-9e3a-4abc-852c-886e072368ac",
              "name": "response",
              "value": "Sent",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "79b54f01-92c7-496a-ae89-3ef3d45073d0",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1380,
        320
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "parse the 'query' and output the following parameters separately. \n\nsendTo:\nsubject:\nemailType:\nmessage:\nappendAttribution:\nbccList:\nccList:\nsenderName:\n\nat the end of the \"message\" field, please sign off the email with something like \"Cheers, Nate\" or \"Best regards, Nate\". Never include something like \"[Your Name]",
              "role": "system"
            },
            {
              "content": "={{ JSON.stringify($json.query) }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "532099d8-101f-40dc-9df3-184ada75b6f2",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        820,
        320
      ],
      "credentials": {
        "openAiApi": {
          "id": "bEw2RFKI3MP4M94t",
          "name": "OpenAi account 3"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0a25ee3a-a1d3-4cd8-a729-2b84a90db00c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "95e5a8c2e51c83e33b232ea792bbe3f063c094c33d9806a5565cb31759e1ad39",
    "templateCreator": "NordSym AB",
    "templateVersion": "1.0",
    "verified": true,
    "source": "FlowVault.se",
    "contact": "support@nordsym.com",
    "driveFileId": "1RtDoTmF2zhLhoRNiD_LldGZHuxi0T1-n",
    "brandedAt": "2026-01-01T22:41:16.904Z"
  },
  "id": "UMBzPLICUxFY2x6l",
  "tags": []
}