nusquama_n8nworkflows_xyz_ai_agent_to_send_emails_from_googl.json
{
  "meta": {
    "instanceId": "c8c9ba5d3eb26ae47a06d24ff164a01c0d73ed4753a74903c2bb609d434a0f6b",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "eb23cbf0-55cf-4f1c-a4bf-ee8598d6213e",
      "name": "Manual Trigger - Start Email Workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        0,
        0
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "59af511c-c4fb-49d7-a8b4-0528ff378e4e",
      "name": "Get Pending Emails from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        208,
        0
      ],
      "parameters": {
        "options": {},
        "filtersUI": {
          "values": [
            {
              "lookupValue": "To send",
              "lookupColumn": "Status"
            }
          ]
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 97715306,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14XPphTi6va5o2c5bb4Ue3A6-B5aeZqi8oxAhThmKRi0/edit#gid=97715306",
          "cachedResultName": "Emails with AI"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "14XPphTi6va5o2c5bb4Ue3A6-B5aeZqi8oxAhThmKRi0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14XPphTi6va5o2c5bb4Ue3A6-B5aeZqi8oxAhThmKRi0/edit?usp=drivesdk",
          "cachedResultName": "Email Manager"
        }
      },
      "credentials": {},
      "typeVersion": 4.7
    },
    {
      "id": "e1d68fb7-f3e8-457f-aab6-9f146ab07aaf",
      "name": "Send Personalized Email via Gmail",
      "type": "n8n-nodes-base.gmail",
      "position": [
        784,
        0
      ],
      "webhookId": "21a4897d-a3ea-4aed-8a1a-056b0d1d0d7e",
      "parameters": {
        "sendTo": "={{ $json.To }}",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        },
        "subject": "={{ $json.Subject }}",
        "emailType": "text"
      },
      "credentials": {},
      "typeVersion": 2.2
    },
    {
      "id": "508de6cd-00af-41df-af5e-8a37bc8b0e9a",
      "name": "Update Email Status to Sent",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1008,
        0
      ],
      "parameters": {
        "columns": {
          "value": {
            "Status": "Sent",
            "row_number": "={{ $('Get Pending Emails from Sheet').item.json.row_number }}"
          },
          "schema": [
            {
              "id": "To",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "To",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Introduction",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Introduction",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Message",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Subject",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Response",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Response",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "number",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "row_number"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "update",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 97715306,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14XPphTi6va5o2c5bb4Ue3A6-B5aeZqi8oxAhThmKRi0/edit#gid=97715306",
          "cachedResultName": "Emails with AI"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "14XPphTi6va5o2c5bb4Ue3A6-B5aeZqi8oxAhThmKRi0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14XPphTi6va5o2c5bb4Ue3A6-B5aeZqi8oxAhThmKRi0/edit?usp=drivesdk",
          "cachedResultName": "Email Manager"
        }
      },
      "credentials": {},
      "typeVersion": 4.7
    },
    {
      "id": "066151f8-ec42-40a1-8856-2986b3164dfe",
      "name": "Gmail Trigger - New Email Responses",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        112,
        336
      ],
      "parameters": {
        "simple": false,
        "filters": {},
        "options": {},
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "credentials": {},
      "typeVersion": 1.3
    },
    {
      "id": "97530849-28a4-47d1-b9b1-4177dbe221bb",
      "name": "Get Matching Email Row by Sender",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        320,
        336
      ],
      "parameters": {
        "options": {},
        "filtersUI": {
          "values": [
            {
              "lookupValue": "={{ $json.from.value[0].address }}",
              "lookupColumn": "To"
            },
            {
              "lookupColumn": "Response"
            }
          ]
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14XPphTi6va5o2c5bb4Ue3A6-B5aeZqi8oxAhThmKRi0/edit#gid=0",
          "cachedResultName": "Emails"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "14XPphTi6va5o2c5bb4Ue3A6-B5aeZqi8oxAhThmKRi0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14XPphTi6va5o2c5bb4Ue3A6-B5aeZqi8oxAhThmKRi0/edit?usp=drivesdk",
          "cachedResultName": "Email Manager"
        }
      },
      "credentials": {},
      "typeVersion": 4.7
    },
    {
      "id": "ff9cb97d-2960-4abb-b408-e1c4034d9dc6",
      "name": "Update Sheet with Email Response",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        528,
        336
      ],
      "parameters": {
        "columns": {
          "value": {
            "Response": "={{ $('Gmail Trigger - New Email Responses').item.json.text }}",
            "row_number": "={{ $json.row_number }}"
          },
          "schema": [
            {
              "id": "To",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "To",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Message",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Subject",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Response",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Response",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "number",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "row_number"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "update",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14XPphTi6va5o2c5bb4Ue3A6-B5aeZqi8oxAhThmKRi0/edit#gid=0",
          "cachedResultName": "Emails"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "14XPphTi6va5o2c5bb4Ue3A6-B5aeZqi8oxAhThmKRi0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14XPphTi6va5o2c5bb4Ue3A6-B5aeZqi8oxAhThmKRi0/edit?usp=drivesdk",
          "cachedResultName": "Email Manager"
        }
      },
      "credentials": {},
      "typeVersion": 4.7
    },
    {
      "id": "f916cc07-667a-4ad3-b383-bd547b2a3202",
      "name": "AI Agent - Generate Personalized Email",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        416,
        0
      ],
      "parameters": {
        "text": "=You are writing a short, personalized reminder email for a business owner who has registered for tomorrow's 9AM automation webinar. The message should feel warm and relevant \u2014 referencing something specific from their background to make it feel tailored, not generic. Keep the body to 2-3 sentences. Format it as an email with proper newlines and close with \"Best regards, The Automation Team\". Return only the email text directly \u2014 no subject line, no labels, no extra commentary.\nHere is an example of the expected output:\nHi Sarah,\nJust a reminder that your seat is reserved for tomorrow's automation webinar at 9AM \u2014 we think you'll find it especially useful given your work scaling operations at GreenLeaf Market. We'll be covering practical tools that can save you hours every week.\nBest regards,\nThe Automation Team\n\n {{ $json.Introduction }}",
        "options": {},
        "promptType": "define"
      },
      "typeVersion": 3.1
    },
    {
      "id": "aeedf3ca-ce6d-4288-9fce-b5878c7717bf",
      "name": "OpenAI Chat Model - GPT",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        416,
        160
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "options": {},
        "builtInTools": {}
      },
      "credentials": {},
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "content": "## FlowVault by NordSym\n\nProduction-ready n8n workflow, curated by NordSym AB. Built in Stockholm.\n\n### Before you activate\n1. Review every node - we stripped credentials, you add your own\n2. Replace webhook URLs, API keys, and placeholders\n3. Test on non-production data first\n4. Pin the nodes you edit so upstream updates don't overwrite them\n\n### Resources\n- Full library: flowvault.se\n- Support: gustav@nordsym.com\n- Tag: #nordsym #flowvault\n",
        "height": 340,
        "width": 420,
        "color": 4
      },
      "id": "nordsym-sticky-note",
      "name": "NordSym FlowVault",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        -260
      ]
    }
  ],
  "pinData": {
    "Gmail Trigger - New Email Responses": [
      {
        "id": "example000000000",
        "to": {
          "text": "\"Jane Doe\" <recipient@example.com>",
          "value": [
            {
              "name": "Jane Doe",
              "address": "recipient@example.com"
            }
          ]
        },
        "date": "2026-03-09T17:18:39.000Z",
        "from": {
          "text": "\"John Doe\" <sender@example.com>",
          "value": [
            {
              "name": "John Doe",
              "address": "sender@example.com"
            }
          ]
        },
        "html": "ok I'll be there!",
        "text": "ok I'll be there!",
        "subject": "Important reminder!",
        "labelIds": [
          "UNREAD",
          "IMPORTANT",
          "INBOX"
        ],
        "threadId": "example000000000",
        "messageId": "<20260309171839.example@gmail.com>"
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model - GPT": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent - Generate Personalized Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Emails from Sheet": {
      "main": [
        [
          {
            "node": "AI Agent - Generate Personalized Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Matching Email Row by Sender": {
      "main": [
        [
          {
            "node": "Update Sheet with Email Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Personalized Email via Gmail": {
      "main": [
        [
          {
            "node": "Update Email Status to Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger - New Email Responses": {
      "main": [
        [
          {
            "node": "Get Matching Email Row by Sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger - Start Email Workflow": {
      "main": [
        [
          {
            "node": "Get Pending Emails from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Generate Personalized Email": {
      "main": [
        [
          {
            "node": "Send Personalized Email via Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "tags": [
    {
      "name": "nordsym"
    },
    {
      "name": "flowvault"
    }
  ]
}