nusquama_n8nworkflows_xyz_brevo_contact_manager_import_add_t.json
{
  "id": "P2LbFvC71ZGvXGZu",
  "meta": {
    "instanceId": "a4bfc93e975ca233ac45ed7c9227d84cf5a2329310525917adaf3312e10d5462",
    "templateCredsSetupCompleted": true
  },
  "name": "Brevo Contact Manager",
  "tags": [
    {
      "name": "nordsym"
    },
    {
      "name": "flowvault"
    }
  ],
  "nodes": [
    {
      "id": "552c380b-a0f0-4b0a-a526-fe72dd09ff59",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -688,
        576
      ],
      "webhookId": "d70b2b2c-0bb0-4edc-9e99-961e1e5f0e18",
      "parameters": {
        "options": {},
        "formTitle": "Brevo n8n",
        "formFields": {
          "values": [
            {
              "fieldLabel": "first_name"
            },
            {
              "fieldLabel": "last_mail"
            },
            {
              "fieldType": "email",
              "fieldLabel": "email"
            }
          ]
        }
      },
      "typeVersion": 2.5
    },
    {
      "id": "056cc79e-795d-4a2c-854c-a3862aef143f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -688,
        400
      ],
      "webhookId": "f6397560-5bab-40b0-af4b-5d2ee18d260c",
      "parameters": {
        "path": "f6397560-5bab-40b0-af4b-5d2ee18d260c",
        "options": {}
      },
      "typeVersion": 2.1
    },
    {
      "id": "bb194f4c-4a6d-49d2-8734-849ec5955e43",
      "name": "Upsert a contact",
      "type": "n8n-nodes-base.sendInBlue",
      "position": [
        -176,
        480
      ],
      "parameters": {
        "email": "={{ $json.email }}",
        "resource": "contact",
        "operation": "upsert",
        "requestOptions": {},
        "upsertAttributes": {
          "upsertAttributesValues": [
            {
              "fieldName": "NOME",
              "fieldValue": "={{ $json.first_name }}"
            },
            {
              "fieldName": "COGNOME",
              "fieldValue": "={{ $json.last_mail }}"
            }
          ]
        }
      },
      "credentials": {},
      "typeVersion": 1
    },
    {
      "id": "138a9f9e-0787-4aee-a754-83c8ff753571",
      "name": "Welcome email",
      "type": "n8n-nodes-base.sendInBlue",
      "position": [
        288,
        480
      ],
      "parameters": {
        "operation": "sendTemplate",
        "templateId": 1,
        "receipients": "={{ $('Set contact info').item.json.email }}",
        "requestOptions": {},
        "additionalFields": {}
      },
      "credentials": {},
      "typeVersion": 1
    },
    {
      "id": "0dc1fed9-9c9b-4706-bf9f-4b5de84a2e55",
      "name": "Add contact to List",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        48,
        480
      ],
      "parameters": {
        "url": "https://api.brevo.com/v3/contacts",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"email\": \"{{ $('Set contact info').item.json.email }}\",\n  \"listIds\": [\n    3\n  ],\n  \"updateEnabled\": true\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "credentials": {},
      "typeVersion": 4.4
    },
    {
      "id": "4f22b8f3-efc8-441f-a71a-986ebda554b6",
      "name": "Set contact info",
      "type": "n8n-nodes-base.set",
      "position": [
        -400,
        480
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "fdd9ad40-8617-4e6f-b71a-dc5a314819bd",
              "name": "first_name",
              "type": "string",
              "value": "={{ $json.first_name }}"
            },
            {
              "id": "4b00ac16-c8c8-413d-8348-0d6d63799875",
              "name": "last_name",
              "type": "string",
              "value": "={{ $json.last_mail }}"
            },
            {
              "id": "7c0b548f-e34a-4958-b98b-8f99ed8693e7",
              "name": "email",
              "type": "string",
              "value": "={{ $json.email }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "96341566-b355-4da8-b72a-ad1cc4f41fa9",
      "name": "When clicking \u2018Execute workflow\u2019",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -720,
        1008
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "f4251b12-7811-4725-8dde-12f5f4408882",
      "name": "Get row(s) in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -464,
        1008
      ],
      "parameters": {
        "options": {},
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Done"
            }
          ]
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xolrgjDUEen8bP7doUzJAdLR4698xxraxCdjWkNY_r0/edit#gid=0",
          "cachedResultName": "Foglio1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1xolrgjDUEen8bP7doUzJAdLR4698xxraxCdjWkNY_r0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xolrgjDUEen8bP7doUzJAdLR4698xxraxCdjWkNY_r0/edit?usp=drivesdk",
          "cachedResultName": "Contacts List"
        }
      },
      "credentials": {},
      "typeVersion": 4.7
    },
    {
      "id": "50cc53bc-f1cb-4ec6-bef0-12caf4ac9026",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -256,
        1008
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 3
    },
    {
      "id": "546089a7-54c0-4c38-a155-95c5df7bb7ce",
      "name": "Upsert contacts",
      "type": "n8n-nodes-base.sendInBlue",
      "position": [
        208,
        1024
      ],
      "parameters": {
        "email": "={{ $json.email }}",
        "resource": "contact",
        "operation": "upsert",
        "requestOptions": {},
        "upsertAttributes": {
          "upsertAttributesValues": [
            {
              "fieldName": "NOME",
              "fieldValue": "={{ $json.first_name }}"
            },
            {
              "fieldName": "COGNOME",
              "fieldValue": "={{ $json.last_mail }}"
            }
          ]
        }
      },
      "credentials": {},
      "typeVersion": 1
    },
    {
      "id": "c2c5f5ea-a20b-4da5-bfa9-1ccef3038e1e",
      "name": "Add contacts to List",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        432,
        1024
      ],
      "parameters": {
        "url": "https://api.brevo.com/v3/contacts",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"email\": \"{{ $('Set contacts info').item.json.email }}\",\n  \"listIds\": [\n    3\n  ],\n  \"updateEnabled\": true\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        }
      },
      "credentials": {},
      "typeVersion": 4.4
    },
    {
      "id": "38473307-c551-4fdc-98ce-22981319f276",
      "name": "Welcome emails",
      "type": "n8n-nodes-base.sendInBlue",
      "position": [
        672,
        1024
      ],
      "parameters": {
        "operation": "sendTemplate",
        "templateId": 1,
        "receipients": "={{ $('Set contacts info').item.json.email }}",
        "requestOptions": {},
        "additionalFields": {}
      },
      "credentials": {},
      "typeVersion": 1
    },
    {
      "id": "93c2dcd3-2c37-4da7-b19d-b334307c5c51",
      "name": "Set contacts info",
      "type": "n8n-nodes-base.set",
      "position": [
        -16,
        1024
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "fdd9ad40-8617-4e6f-b71a-dc5a314819bd",
              "name": "first_name",
              "type": "string",
              "value": "={{ $json[\"First Name\"] }}"
            },
            {
              "id": "4b00ac16-c8c8-413d-8348-0d6d63799875",
              "name": "last_name",
              "type": "string",
              "value": "={{ $json[\"Last Name\"] }}"
            },
            {
              "id": "7c0b548f-e34a-4958-b98b-8f99ed8693e7",
              "name": "email",
              "type": "string",
              "value": "={{ $json.Email }}"
            },
            {
              "id": "c45f53df-3516-464e-a217-0c41ac3f8089",
              "name": "",
              "type": "string",
              "value": ""
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "9605515f-9f2b-4af7-a977-edf1a2df3838",
      "name": "Update row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        880,
        1024
      ],
      "parameters": {
        "columns": {
          "value": {
            "Done": "x",
            "row_number": "={{ $('Loop Over Items').item.json.row_number }}"
          },
          "schema": [
            {
              "id": "First Name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "First Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Last Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Done",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Done",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "number",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "row_number"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "update",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xolrgjDUEen8bP7doUzJAdLR4698xxraxCdjWkNY_r0/edit#gid=0",
          "cachedResultName": "Foglio1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1xolrgjDUEen8bP7doUzJAdLR4698xxraxCdjWkNY_r0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xolrgjDUEen8bP7doUzJAdLR4698xxraxCdjWkNY_r0/edit?usp=drivesdk",
          "cachedResultName": "Contacts List"
        }
      },
      "credentials": {},
      "typeVersion": 4.7
    },
    {
      "id": "7541cb81-70cf-4c2b-9ff3-4bf9707201ba",
      "name": "Email unsbuscribed",
      "type": "n8n-nodes-base.sendInBlueTrigger",
      "position": [
        -704,
        1408
      ],
      "webhookId": "2ee6df5b-d871-4242-adc5-c2d4cbe1c92a",
      "parameters": {
        "events": [
          "unsubscribed"
        ]
      },
      "credentials": {},
      "typeVersion": 1
    },
    {
      "id": "8b400fe7-9500-465d-a558-0307d273fd15",
      "name": "Update row in sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -464,
        1408
      ],
      "parameters": {
        "columns": {
          "value": {
            "Email": "={{ $json.email }}",
            "Unsubscribe": "x"
          },
          "schema": [
            {
              "id": "First Name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "First Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Last Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Done",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Done",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Unsubscribe",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Unsubscribe",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "number",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Email"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "update",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xolrgjDUEen8bP7doUzJAdLR4698xxraxCdjWkNY_r0/edit#gid=0",
          "cachedResultName": "Foglio1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1xolrgjDUEen8bP7doUzJAdLR4698xxraxCdjWkNY_r0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xolrgjDUEen8bP7doUzJAdLR4698xxraxCdjWkNY_r0/edit?usp=drivesdk",
          "cachedResultName": "Contacts List"
        }
      },
      "credentials": {},
      "typeVersion": 4.7
    },
    {
      "parameters": {
        "content": "## FlowVault by NordSym\n\nProduction-ready n8n workflow, curated by NordSym AB. Built in Stockholm.\n\n### Before you activate\n1. Review every node - we stripped credentials, you add your own\n2. Replace webhook URLs, API keys, and placeholders\n3. Test on non-production data first\n4. Pin the nodes you edit so upstream updates don't overwrite them\n\n### Resources\n- Full library: flowvault.se\n- Support: gustav@nordsym.com\n- Tag: #nordsym #flowvault\n",
        "height": 340,
        "width": 420,
        "color": 4
      },
      "id": "nordsym-sticky-note",
      "name": "NordSym FlowVault",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        -260
      ]
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "binaryMode": "separate",
    "availableInMCP": false,
    "executionOrder": "v1"
  },
  "versionId": "d741a385-4bdc-4469-bb79-1b56677c6334",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set contact info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Welcome emails": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set contacts info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert contacts": {
      "main": [
        [
          {
            "node": "Add contacts to List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set contact info": {
      "main": [
        [
          {
            "node": "Upsert a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert a contact": {
      "main": [
        [
          {
            "node": "Add contact to List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set contacts info": {
      "main": [
        [
          {
            "node": "Upsert contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email unsbuscribed": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Set contact info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add contact to List": {
      "main": [
        [
          {
            "node": "Welcome email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add contacts to List": {
      "main": [
        [
          {
            "node": "Welcome emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \u2018Execute workflow\u2019": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}