nusquama_n8nworkflows_xyz_dynamically_run_suiteql_queries_in.json
{
  "id": "FDl4Ho3KYiA7MIxR",
  "meta": {
    "instanceId": "f6d3344846b38f0c35c069a91b2450f6527b26bb735b6301a692ce1cca2b2682"
  },
  "name": "NetSuite Rest API workflow",
  "tags": [
    {
      "name": "nordsym"
    },
    {
      "name": "flowvault"
    }
  ],
  "nodes": [
    {
      "id": "f7f90fb4-e29f-4bbf-a99d-ee2fde45cd06",
      "name": "When clicking \u2018Test workflow\u2019",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -380,
        -40
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "9fcc1ce7-e9bf-4592-8bcd-7c77272a9c59",
      "name": "NetSuite",
      "type": "n8n-nodes-netsuite.netsuite",
      "position": [
        -40,
        -180
      ],
      "parameters": {
        "query": "={{ $json.query.suiteql }}",
        "options": {},
        "operation": "runSuiteQL"
      },
      "credentials": {},
      "typeVersion": 1
    },
    {
      "id": "1d615309-2cb0-4383-9698-2f80da0d4bf5",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -380,
        -280
      ],
      "webhookId": "249328cc-587a-4269-b266-96fe60cfaeb9",
      "parameters": {
        "path": "249328cc-587a-4269-b266-96fe60cfaeb9",
        "options": {},
        "responseData": "allEntries",
        "responseMode": "lastNode"
      },
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## FlowVault by NordSym\n\nProduction-ready n8n workflow, curated by NordSym AB. Built in Stockholm.\n\n### Before you activate\n1. Review every node - we stripped credentials, you add your own\n2. Replace webhook URLs, API keys, and placeholders\n3. Test on non-production data first\n4. Pin the nodes you edit so upstream updates don't overwrite them\n\n### Resources\n- Full library: flowvault.se\n- Support: gustav@nordsym.com\n- Tag: #nordsym #flowvault\n",
        "height": 340,
        "width": 420,
        "color": 4
      },
      "id": "nordsym-sticky-note",
      "name": "NordSym FlowVault",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        -260
      ]
    }
  ],
  "active": true,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d6823e59-8e07-44a6-b4af-b029da620523",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "NetSuite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NetSuite": {
      "main": [
        []
      ]
    },
    "When clicking \u2018Test workflow\u2019": {
      "main": [
        [
          {
            "node": "NetSuite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}