nusquama_n8nworkflows_xyz_ai_client_onboarding_agent_auto_we.json
{
  "id": "7R0XDRrkPclEYLJS",
  "meta": {
    "instanceId": "57c71fe69aec521b7d0bd3751d2e0aaa08f8884418e122571610a23c9eb8a65c"
  },
  "name": "Onboarding",
  "tags": [
    {
      "name": "nordsym"
    },
    {
      "name": "flowvault"
    }
  ],
  "nodes": [
    {
      "id": "66045c99-118c-4302-807e-c4279d1a47a2",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "position": [
        -80,
        20
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "3cc38fca-c0c9-4c9f-90f1-a9d0ece9522c",
      "name": "Error Handler",
      "type": "n8n-nodes-base.errorTrigger",
      "position": [
        1180,
        340
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "7b745afe-49a5-4cd6-aa03-a0dae214e908",
      "name": "Execution Completed",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1180,
        20
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "0ea5c7e9-78b8-446a-bae1-802a5ecab399",
      "name": "Execution Failure",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1380,
        340
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "e79e67c4-9de6-4287-86b9-e2cd6b884f52",
      "name": "Client Checklist",
      "type": "n8n-nodes-base.set",
      "position": [
        540,
        20
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "c9c81e80-f2f2-436d-a6cf-48882b0f72ea",
              "name": "=Checklist",
              "type": "string",
              "value": "=\"Checklist\": \"\n1. Account setup\n2. Welcome call scheduled\n3. Document collection\n4. Service configuration\n5. Onboarding session\n6. First milestone review"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "daa90481-fb59-47ff-9aa1-14e33a42d459",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        700,
        520
      ],
      "parameters": {
        "options": {},
        "modelName": "models/gemini-2.0-flash"
      },
      "credentials": {},
      "typeVersion": 1
    },
    {
      "id": "d4d0d056-f14e-4ba0-9800-680854b25a3a",
      "name": "Trigger on New Client Form Submission",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "position": [
        120,
        20
      ],
      "parameters": {
        "event": "rowAdded",
        "options": {},
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1635870855,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Hvti1sX6SvjP1Kj8dWFEiksiqn1FJVBoMToP2X6xBw/edit#gid=1635870855",
          "cachedResultName": "Form Responses 1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "19Hvti1sX6SvjP1Kj8dWFEiksiqn1FJVBoMToP2X6xBw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/19Hvti1sX6SvjP1Kj8dWFEiksiqn1FJVBoMToP2X6xBw/edit?usp=drivesdk",
          "cachedResultName": "Onboarding"
        }
      },
      "credentials": {},
      "typeVersion": 1
    },
    {
      "id": "c74110eb-1e8e-4836-93a7-76e8bc0a82f2",
      "name": "Extract and Structure Client Data",
      "type": "n8n-nodes-base.set",
      "position": [
        320,
        20
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "7c333d8f-04cd-4987-9c30-4c7bc26baecb",
              "name": "fields",
              "type": "string",
              "value": "=Name:  {{ $json['Client name'] }} \nEmail:  {{ $json[' email '] }}\nCompany: {{ $json['  Company Name  '] }}\nService Needed: {{ $json['  Services Needed  '] }}\nOther info: {{ $json['  Any other onboarding info  '] }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "93822f2f-1013-4231-9602-3337fee939c8",
      "name": "Personalize Using Gemini",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        680,
        20
      ],
      "parameters": {
        "text": "=Give me an onboarding check list for an email to the client, give me only email body and don't generate extra text like \"Okay, here's an email template ...\" and start and end on new lines\nstart with:\nHi {{ $('Trigger on New Client Form Submission').item.json['Client name'] }}, \nand end with \nBest regards,\nYour {{ $('Trigger on New Client Form Submission').item.json['  Company Name  '] }} Team\n\n:\nAlso use information from checklist and Fields below\n {{ $json.Checklist }}\n\nFields: {{ $('Extract and Structure Client Data').item.json.fields }}",
        "promptType": "define"
      },
      "typeVersion": 1.5
    },
    {
      "id": "03c3ee91-0d15-44a3-8426-7d9181a9876f",
      "name": "Send Email to Client",
      "type": "n8n-nodes-base.gmail",
      "position": [
        980,
        20
      ],
      "webhookId": "2a07b507-23a6-4bfb-adff-997d30ea3dfa",
      "parameters": {
        "sendTo": "={{ $('Trigger on New Client Form Submission').item.json[' email '] }}",
        "message": "= {{ $json.text }}",
        "options": {},
        "subject": "=Welcome to Our Service,  {{ $('Trigger on New Client Form Submission').item.json['Client name'] }} "
      },
      "credentials": {},
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "## FlowVault by NordSym\n\nProduction-ready n8n workflow, curated by NordSym AB. Built in Stockholm.\n\n### Before you activate\n1. Review every node - we stripped credentials, you add your own\n2. Replace webhook URLs, API keys, and placeholders\n3. Test on non-production data first\n4. Pin the nodes you edit so upstream updates don't overwrite them\n\n### Resources\n- Full library: flowvault.se\n- Support: gustav@nordsym.com\n- Tag: #nordsym #flowvault\n",
        "height": 340,
        "width": 420,
        "color": 4
      },
      "id": "nordsym-sticky-note",
      "name": "NordSym FlowVault",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        -260
      ]
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7cf9d691-7a87-4cc1-9827-ac581cbaa503",
  "connections": {
    "Error Handler": {
      "main": [
        [
          {
            "node": "Execution Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client Checklist": {
      "main": [
        [
          {
            "node": "Personalize Using Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Personalize Using Gemini",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Personalize Using Gemini": {
      "main": [
        [
          {
            "node": "Send Email to Client",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execution Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract and Structure Client Data": {
      "main": [
        [
          {
            "node": "Client Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger on New Client Form Submission": {
      "main": [
        [
          {
            "node": "Extract and Structure Client Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}