wassupjay_n8n_free_templates_new_job_application_parser.json
{
  "name": "New Job Application Parser",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-job-application-parser"
      },
      "id": "5a292fdb-55a6-4b6c-95cb-918e2f5592a1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -300,
        0
      ]
    },
    {
      "parameters": {
        "chunkSize": 400,
        "chunkOverlap": 40
      },
      "id": "53900c40-00b0-4e87-98cf-de274ce1fddc",
      "name": "Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -130,
        0
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "a3b1c492-f0ec-4275-a656-765170f336db",
      "name": "Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        70,
        0
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "mode": "insert",
        "options": {},
        "pineconeIndex": {
          "__rl": true,
          "value": "new_job_application_parser",
          "mode": "list",
          "cachedResultName": "new_job_application_parser"
        }
      },
      "id": "cfcd7174-0670-4521-a3d0-f166637355b9",
      "name": "Pinecone Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        270,
        0
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "new_job_application_parser",
          "mode": "list",
          "cachedResultName": "new_job_application_parser"
        }
      },
      "id": "2a452b2b-edca-4ab6-87a5-a9cb33ca4473",
      "name": "Pinecone Query",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        270,
        -180
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "name": "Pinecone",
        "description": "Vector context"
      },
      "id": "3f39c7db-4b74-452f-85c5-1221de07d7c8",
      "name": "Vector Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        450,
        -180
      ]
    },
    {
      "parameters": {},
      "id": "c3cf7b90-7202-47b1-a2e3-e1f2c74eaa33",
      "name": "Window Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        450,
        -40
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3cd3b436-538e-470c-89e5-e8776258c498",
      "name": "Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        450,
        -340
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Process the following data for task 'New Job Application Parser':\n\n{{ $json }}",
        "options": {
          "systemMessage": "You are an assistant for New Job Application Parser"
        }
      },
      "id": "a741b715-3e97-445a-8c1a-f5c8ce5cf2dd",
      "name": "RAG Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        720,
        -40
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "SHEET_ID",
          "mode": "list",
          "cachedResultName": "New Job Application Parser"
        },
        "sheetName": {
          "__rl": true,
          "value": "Log",
          "mode": "list",
          "cachedResultName": "Log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{$json[\"RAG Agent\"].text}}"
          },
          "schema": []
        }
      },
      "id": "8d1a3c8a-520f-4e56-8120-7b54029bd828",
      "name": "Append Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        930,
        -40
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "channel": "#alerts",
        "text": "New Job Application Parser error: {$json.error.message}"
      },
      "id": "1b63bca3-2e7f-450e-80ef-f5cf18df53f1",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        930,
        120
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "content": "## FlowVault by NordSym\n\nProduction-ready n8n workflow, curated by NordSym AB. Built in Stockholm.\n\n### Before you activate\n1. Review every node - we stripped credentials, you add your own\n2. Replace webhook URLs, API keys, and placeholders\n3. Test on non-production data first\n4. Pin the nodes you edit so upstream updates don't overwrite them\n\n### Resources\n- Full library: flowvault.se\n- Support: gustav@nordsym.com\n- Tag: #nordsym #flowvault\n",
        "height": 340,
        "width": 420,
        "color": 4
      },
      "id": "nordsym-sticky-note",
      "name": "NordSym FlowVault",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -260,
        -260
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Text Splitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Window Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Splitter": {
      "main": [
        [
          {
            "node": "Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_textSplitter": [
        [
          {
            "node": "Pinecone Insert",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Insert",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Query",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Insert": {
      "ai_document": [
        []
      ]
    },
    "Pinecone Query": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Vector Tool": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "RAG Agent": {
      "main": [
        [
          {
            "node": "Append Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "onError": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1,
  "tags": [
    {
      "name": "nordsym"
    },
    {
      "name": "flowvault"
    }
  ]
}